    <div id="appWrapper" class="container-fluid" ng-controller="appController2 as appCtrl2">
       <div id="appLeftSide" class="col-md-6 col-sm-12 col-xs-12" ng-show="appCtrl2.isEdit">
            <h1>Unos podataka profesora</h1>
              <span>
                    <label for="name">Ime</label>
                    <input type="text" id="name" value="" ng-model="appCtrl2.profesor.name" /> 
              </span>
              <span>
                    <label for="lastName">Prezime</label>
                    <input type="text" id="lastName" value="" ng-model="appCtrl2.profesor.lastName" /> 
              </span>
              <span>
                    <label for="subject">Naziv predmeta</label>
                    <input type="text" id="subject" value="" ng-model="appCtrl2.profesor.subject" /> 
              </span>
              <span>
                    <label for="paycheck">Plata</label>
                    <input type="number" id="paycheck" value="" ng-model="appCtrl2.profesor.paycheck" /> 
              </span>
              <span>
                    <label for="year">Datum rodjenja</label>
                    <input type="text" id="year" value="" ng-model="appCtrl2.profesor.year" /> 
              </span>
              <span>
                    <button name="submitMainForm" id="submitMainForm" ng-click="appCtrl2.SnimiProfesora()" ng-class="{display_none: appCtrl2.isEdit == true && appCtrl2.editIndex >= 0}">Snimi profesora</button>
                    <button name="submitMainForm2" id="submitMainForm2" ng-click="appCtrl2.IzmeniProfesora()" ng-class="{display_none: appCtrl2.editIndex < 0}" ng-disabled="appCtrl2.teacher.year < 2009">Izmeni profesora</button>
                    <button name="submitMainForm3" id="submitMainForm3" ng-click="appCtrl2.PrekidIzmeneProfesora()" ng-class="{display_none: appCtrl2.editIndex < 0}">Prekini izmenu</button>
              </span>
       </div>
       <div id="appRightSide" class="col-sm-12', 'col-xs-12'" ng-class="appCtrl2.isEdit == true ? 'col-md-6' : 'col-md-12'">
              <h1>Ispis podataka profesora <span>(klikni na red za izmenu podataka)</span></h1>
              <button name="revealForm" id="revealForm" ng-click="appCtrl2.OtvoriForm()">Upisi novog profesora</button>
              <br />
              <table name="tblteachers" class="table">
                    <tr>
                      <td>Ime</td>
                      <td>Prezime</td>
                      <td>Predmet</td>
                      <td>Plata</td>
                      <td>Godina</td>
                      <td>Akcija</td>
                    </tr>
                    <tr ng-repeat="teacher in appCtrl2.profesors" ng-click="appCtrl2.UcitajProfesora($index)" class="dataRow">
                      <td>{{teacher.name}}</td>
                      <td>{{teacher.lastName}}</td>
                      <td>{{teacher.subject}}</td>
                      <td>{{teacher.paycheck}}</td>
                      <td>{{teacher.year}}</td>
                      <td>
                        <button name="btnDelete" id="btnDelete" ng-click="appCtrl2.ObrisiProfesora($index); $event.stopPropagation();">Obrisi</button> 
                      </td>
                    </tr>
              </table>
       </div>
    </div>